<% if (error) { %>
  <p style="color: red;"><%= error %></p>
<% } %>
<div class="form-container">
    <h2>Create an Account</h2>
    <form action="/auth/register" method="post">
        <p>
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" required/>
        </p>
        <p>
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" required/>
        </p>
        <p>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required/>
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required/>
        </p>
        <p>
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required/>
        </p>
        <p class="button">
            <button type="submit">Register</button>
        </p>
        <p>Already have an account? <a href="/auth/login">Login here</a></p>
    </form>
</div>

