<h1>Add a Student</h1>
<% if (error) { %>
    <p style="color: red;"><%= error %></p>
<% } %>
<form action="/parent/students/add" method="post">
    <p>
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required/>
    </p>
    <p>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required/>
    </p>
    <p>
        <label for="date_of_birth">Date of Birth:</label>
        <input type="date" id="date_of_birth" name="date_of_birth"/>
    </p>
    <p>
        <label for="notes">Notes:</label>
        <textarea id="notes" name="notes" placeholder="Any relevant information about your child"></textarea>
    </p>
    <p class="button">
        <button type="submit">Add Student</button>
    </p>
</form>