<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seabright Sand</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div id="content">
        <header>
            <nav class="navbar">
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/auth/login">Login</a></li>
                    <li><a href="/auth/register">Register</a></li>
                </ul>
                <a href="/" class="logo-link">
                    <img src="/images/logoseabright.png" alt="Seabright Sand Logo" class="logo">
                </a>
            </nav>
        </header>

        <%- body %>

        <footer>
            <a href="/" class="logo-link">
                <img src="/images/logoseabright.png" alt="Seabright Sand Logo" class="logo">
            </a>
            <p>Seabright Sand &copy; 2025 - Bronwyn Hafen</p>
            <p><a href="/">Home</a></p>
            <p><a href="/about">About Us</a></p>
            <p><a href="/contact">Contact Us</a></p>
            <div class="social">
                <a href="https://facebook.com">
                    <img class="icon" src="/images/facebook.jpg" alt="fb icon">
                </a>
                <a href="https://twitter.com">
                    <img class="icon" src="/images/twitter.jpg" alt="twitter icon">
                </a>
                <a href="https://instagram.com">
                    <img class="icon" src="/images/instagram.jpg" alt="instagram icon">
                </a>
            </div>
        </footer>
    </div>
</body>
</html>