<section id="about-msg">
    <img class="about-img" src="/images/aboutme.jpg" alt="Headshot of Cassandra Hafen">
    <div class="about-text">
        <h1 class="title">Cassandra Hafen</h1>
        <p class="para">I'm a passionate educator, tutor, and mentor with a lifelong dedication to helping students succeed. With experience in diverse teaching environments—from classrooms to one-on-one tutoring—I specialize in literacy, language learning, and personalized education strategies.</p>

        <h2 class="subtitle">My Expertise</h2>
        <ul class="points">
            <li>Instructing & Mentoring</li>
            <li>Collaboration & Planning</li>
            <li>Goal-Setting & Reflecting</li>
            <li>Mandarin Chinese Language Instruction</li>
        </ul>

        <h2 class="subtitle">My Experience</h2>
        <h3 class="beta">Certified Barton Tutor | Self-Employed | 2010–2016, 2022–Present</h3>
        <p class="para">Delivering structured, multisensory reading and spelling instruction for struggling students in both in-person and online settings.</p>

        <h2 class="subtitle">Education & Certifications</h2>
        <ul class="points">
            <li>Southern Utah University – BA in Elementary Education (1999)</li>
            <li>Utah Professional Educator License</li>
            <li>Nevada State Substitute License</li>
            <li>ESL Endorsement</li>
        </ul>
    </div>
</section>

<section id="barton">
    <img class="barton-img" src="/images/pexels-katerina-holmes-5905962.jpg" alt="Tutor and student">
    <h1 class="title">The Barton Reading & Spelling System</h1>
    <p class="para">The Barton Reading & Spelling System is a structured, Orton-Gillingham-based program designed to help individuals with dyslexia and other reading difficulties improve their literacy skills.</p>
</section>

<section id="esl">
    <img class="esl-img" src="/images/pexels-zen-chung-5538569.jpg" alt="students">
    <h1 class="title">ESL</h1>
    <p class="para">At Seabright Sand, we specialize in teaching English as a Second Language (ESL) to learners of all ages and skill levels.</p>
</section>