<div id="hero">
    <div id="hero-box">
        <img id="hero-img" src="/images/school-8980534_1280.jpg" alt="2 school kids">
    </div>
    <div class="hero-msg">
        <h1>Seabright Sand</h1>
        <p>Helping learners grow through ESL & Barton tutoring</p>
        <a href="/about" class="hero-btn">Get Started</a>
    </div>
</div>

<div id="welcome">
    <h2>Welcome</h2>
    <p>
        Welcome to our website! We offer ESL classes and Barton small group sessions to help you improve your reading, spelling, and language skills. 
        We also provide language support and volunteer in our community. 
        Imagination and dreams give life meaning and direction—we look forward to helping you achieve your goals and reach your full potential!
    </p>
</div>

<main class="home-grid">
    <section class="headshot-card">
        <img class="card-img" src="/images/aboutme.jpg" alt="headshot of cassandra">
        <h2>About me</h2>
        <p>I'm a passionate educator, tutor, and mentor with a lifelong dedication to helping students succeed.</p>
    </section>
    <section class="tutor-card">
        <img class="card-img" src="/images/jonathan-borba-Z1Oyw2snqn8-unsplash.jpg" alt="little girl reading">
        <h2>Barton Tutoring</h2>
        <p>The Barton Reading & Spelling System is a structured, Orton-Gillingham-based program designed to help individuals with dyslexia.</p>
    </section>
    <section class="esl-card">
        <img class="card-img" src="/images/pexels-kampus-5940706.jpg" alt="tutoring">
        <h2>ESL</h2>
        <p>At Seabright Sand, we specialize in teaching English as a Second Language (ESL) to learners of all ages and skill levels.</p>
    </section>
</main>

<section id="contact-msg">
    <h2>Contact Us</h2>
    <div class='button-box'>
        <a class='book' href="/contact">Contact Us</a>
    </div>
</section>