<div style="text-align: center; padding: 50px;">
    <h1>500 - Something went wrong</h1>
    <p>Sorry, an unexpected error occurred. Please try again later.</p>
    <a href="/">Go back home</a>
</div>